@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: bold;
}

@import "./variables";
@import "./reset";


* {
    box-sizing: border-box;
}

body {
    font-family: 'Monserrat';
}

.menu-bar {
    width: 100%;
    background-color: $dark-text;
    padding: 18px 12px;
    display: flex;
    justify-content: space-between;
    position: fixed;

    & .basket-container span {  
        color: #fff;
        font-size: 24px;
        line-height: 29px;
    }
}

.main-header {
    background-image: url(../images/main-pic.png);
    width: 100%;

    & input {
        color: #fff;
        background-color: $man-brand-color;
        outline: none;
    }
}